@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

@media (min-width: 768px) {
  .header-content-scroll {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-content-scroll::-webkit-scrollbar {
    width: 8px;
  }
}

input[type="checkbox"].accent-custom:checked {
  accent-color: #ff6900;
}

.tab-trigger[data-state="active"] {
  color: #ff7a00 !important;
}
